#head {
	text-align: right;
	padding: 20px;
}
nav#head ul li a:link,
nav#head ul li a:visited {
	color: #555,
	text-decoration:none; 
	padding: 10px;
}

nav#head ul li {
    display: inline;
}
